@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Montserrat&family=Poppins:ital,wght@0,300;0,400;1,400&family=Work+Sans:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

/*by default font size for 1rem=16px, and 16px is default root html size, so i set it to 62.5% that is 10px , so this will help make easy to use rem as 2 rem will means 20px, 3rem---->30px*/
html {
    font-size: 62.5%;
}

:root {
    --custom-scrollbar-width: 5px;
}

body {
    font-size: 1.6rem;
}

input:focus {
    border-color: #2c18e891;
    border-width: 1.5px;
    border-style: solid;
    outline: none;
}

/* ----------------------------auth page code------------------------- */

/* .authBody {
    background-image: url("/images/girl.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */




/* .authChild3 {
    border-radius: 8px;
    border: 2px solid rgb(247, 183, 8);
    background-color: rgba(255, 255, 255, 0.5);
} */

.authChild3 h3 a {

    color: blue;
}

.authChild3 h3 a:hover {

    text-decoration: underline;
    color: blue;
}

.authChild3 form {
    border-radius: 8px;
}



.socialMediaIcons i:hover {
    color: chocolate;
}

/* --------------------nav code starts ------------------*/
/* nav{
    background-color: red;
    border-bottom: 1px solid black;
} */




.profilePic {
    width: 28px;
    height: 28px;
    width: 100%;
    border-radius: 50%;
}

.profilePic img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

/* --------------------dashboard code-------------------- */
.dashBoard {
    width: 100vw;
    height: 100vh;
}

.dashBody {
    /* padding: 4px; */
    width: 100%;
    height: 100%;
    /* background-color: red; */
    overflow-x: hidden;
}

/* dash contacts code-------------------- */


.searchList {
    background-color: #fff;
}

.searchList:hover {
    background-color: rgb(241, 239, 239);
}

.contactsUl {
    overflow-y: scroll;
}

.active {
    background-color: rgb(255, 222, 6);
}
/* .active {
    background-color: rgb(46, 154, 24);
} */

.pending {
    background-color: rgb(254, 236, 103);
}
/* .pending {
    background-color: rgb(118, 221, 100);
} */

.pending:hover {
    background-color: rgb(250, 197, 6);
}

.dots {
    border: 1px solid rgb(202, 199, 199);
}


/* dash chats code---------------------------- */


.chatScreen {
    height: 100%;
}

/* .pChatProfileModal {
    background-color: rgba(245, 245, 245, 0.8);
} */

.selectedContact {
    background-color: rgb(166, 238, 164);


}

.message {
    border-radius: 0 10px 10px 10px;
    padding: 3px;
    font-size: 1.3rem;
    max-width: 35%;
}

.messageInput {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.message-end {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align contents to the start of the container */
    margin: 10px;
    max-width: 60%;
    /* Adjust as needed */
    width: fit-content;
    padding: 4px 10px;
    border-top-left-radius: 14px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;

}

.message-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align contents to the start of the container */
    margin: 10px;
    max-width: 60%;
    /* Adjust as needed */
    width: fit-content;
    padding: 4px 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;

}



.message-time {
    color: #777;
    /* Color for the timestamp text */
    margin-top: 5px;
    /* Adjust spacing between message and timestamp */
}

/*------------------- groupModal code --------------------*/

/* .groupModal {
    background-color: #eceff8;
} */

/* code for narrowing scrollbar -----------------------------------*/
::-webkit-scrollbar {
    width: var(--custom-scrollbar-width);
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background-color: #d1d1cf;
    /* Change the background color */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #464746;
    /* Change the color of the scrollbar thumb */
    border-radius: 5px;
    /* Add rounded corners */
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: black;
    /* Change the color on hover */
}


.file-input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0;
}

/* contacs animation-------------------------------------------- */
/* .contactAnimation{
    animation-name: listAnime;
    animation-duration: 0.8s;

} */

.contactAnimation {
    animation: listAnime;
    /* animation-iteration-count: infinite; */
}

@keyframes listAnime {
    0% {
        /* transform: rotateX(0deg); */
        transform: scale3d(1, 1, 1) translateY(0px);
    }

    50% {
        transform: scale3d(1.04, 1.5, 1) translateY(-3px);
    }

    100% {

        transform: scale3d(1, 1, 1) translateY(0px);
    }

}

.showBorder {
    border: 1px solid black;
}

/* all neumorphism classes--------------------------------------- */

.depthEffectL {
    /* border-radius: 25px; */
    /* border-radius: 25px; */
    background: #eceff8;
    box-shadow: inset 6px 6px 14px #d2d5dd,
        inset -6px -6px 14px #ffffff;
        transition-duration: 300ms;


}

.depthEffectL1 {
    background: #e6ebfb;
    box-shadow: inset 5px 5px 8px #c2c4cb,
        inset -5px -5px 8px #ffffff;
        transition-duration: 300ms;


}
.depthEffectD1 {
    background: #0f1c2e;
    box-shadow: inset 5px 5px 7px #070e17,
                inset -5px -5px 7px #172a45;
                transition-duration: 300ms;


}

.planeEffectL {
    /* border-radius: 25px; */
    background: #eceff8;
    box-shadow: 6px 6px 14px #c9cbd3,
        -6px -6px 14px #ffffff;
        transition-duration: 300ms;

}
.planeEffectD {
    /* border-radius: 31px; */
    background: #0f1c2e;
    box-shadow:  5px 5px 7px #070e17,
                 -5px -5px 7px #172a45;
                 transition-duration: 300ms;

}

.planeEffectLContact {
    /* border-radius: 24px; */
    background: #eaeffe;
    box-shadow: 5px 5px 10px #9d9d9d,
        -5px -5px 10px #ffffff;
        transition-duration: 300ms;

}
.planeEffectDContact {
    /* border-radius: 24px; */
    background: #eaeffe;
    box-shadow: 5px 5px 10px #9d9d9d,
        -5px -5px 10px #ffffff;
        transition-duration: 300ms;

}

.inputEffectL {

    background: #eceff8;
    box-shadow: inset 5px 5px 8px #c2c4cb,
        inset -5px -5px 8px #ffffff;
        transition-duration: 300ms;

}
.inputEffectD {

    background: #0F1C2E;
    box-shadow: inset 5px 5px 8px #0c1021,
        inset -5px -5px 8px #282d3c;
        transition-duration: 300ms;

}

.signupBtnEffect {

    box-shadow: 5px 5px 8px #97999f,
        -5px -5px 8px #ffffff;
        transition-duration: 300ms;

}
.signupBtnEffectD {

    box-shadow: 5px 5px 8px #121d3f,
        -5px -5px 8px #323a53;
        transition-duration: 300ms;

}
